<form class="mt1" method="post" action="http://127.0.0.1:8000/bands/add">
  {% csrf_token %}
  <h2>Criar Banda</h2>
  <div>
    <input type="text" placeholder="Nome da banda" name="name" id="id_name" required/>
  </div>
  <div>
    <input type="email" placeholder="Email da banda" name="email" id="id_email" required/>
  </div>
  <div>
    <input type="text" placeholder="Telefone da banda(whatsapp)" name="phone" id="id_phone" required/>
  </div>
  <div>
    <input type="number" placeholder="Valor por hora" name="price" id="id_price" required/>
  </div>
  <div>
    <input type="url" placeholder="Link de uma imagem da banda" name="image_link" id="id_image_link" required/>
  </div>
  <button class="submit" type="submit">Enviar</button>
</form>
